{% extends 'base.html' %} {% load thumbnail %} {% block title %} Orden Nro -
{{order.id}} {% endblock title %} {% block content %}
<h2 class="mt-4">Orden Nro: {{order.id}}</h2>
{% comment %}
<h4 class="font-weight-light">
  {{order.user.first_name|default:order.user.username}} {{order.user.last_name}}
</h4>
{% endcomment %}
<h4>
  {% if order.paid %}
  <span class="badge badge-success">Pagado</span>
  {% else %}
  <span class="badge badge-danger">Pendiente de pago</span>
  {% endif %}
</h4>
<h5 class="font-weight-light">
  Dirección de envío: {{order.direccion}}, {{order.provincia}}, {{order.distrito}}
</h5>
<h5 class="font-weight-light">Estado - {{order.status}}</h5>
<h5 class="font-weight-light">Pedido el: {{order.created}}</h5>
<h3 class="font-weight-light mt-4">Productos</h3>
<ul class="list-group shadow-sm">
  {% for o in order.items.all %}
  <li
    class="list-group-item d-flex align-items-center justify-content-between flex-column flex-md-row"
  >
    <div class="d-flex align-items-center">
      <img
        class="img-fluid"
        src="https://iili.io/ntpyVs.png"
        alt="Card image cap">
      <h5 class="ml-3 mb-0 font-weight-light">
        <a href="{{o.product.get_absolute_url}}">{{o.product.name}}</a>
      </h5>
    </div>
    <h5 class="font-weight-light mb-0">
      S/. {{o.product.price}} * {{o.quantity}} = <b>S/. {{o.total}}</b>
    </h5>
  </li>
  {% endfor %}
  <li class="list-group-item bg-primary text-white">
    <h5 class="mb-0 text-right font-weight-light">
      Total - <b>S/. {{order.total_price}}</b>
    </h5>
  </li>
</ul>
<p class="my-2 text-center">
  <a href="{{order.get_absolute_url}}" class="btn btn-success">Ver comprobante de compra</a>
</p>
{% endblock content %}
